@font-face{
	src:url("Lora.ttf");
	font-family: "Lora";
}
html{
  scroll-behavior: smooth;	
}
*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	font-family:'Lora', serif;
}
.cleaner{
	clear:both;
}
.active{
	background-color:#73840F;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
}
#heder{
	position:relative;
	width:100%;
	background-image:url('../img/smestaj.jpg');
	height:600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#heder #logoNav{
	background-color:rgba(89, 44, 21,0.7);
	width:15%;
	height:100%;
	float:left;
}
#heder #logoNav img{
	width:100%;	
	padding-top:10%;
}
#heder nav{
	text-align:center;
	display:flex;
	flex-direction:column;
	align-items:center;
	padding-top:50%;
}
#heder nav ul{
	width:100%;
}
#heder nav ul li{
	width:100%;
}
#heder nav ul li a{
	display:block;
	width:100%;
	padding:15px;
	font-size:20px;
	color:#fff;
}
#heder nav ul li a:hover{
	color:#fff;
	background-color:#73840F;
	transition:ease 0.3s;
}
#heder h2{
	text-align:right;
	position:absolute;
	right:0px;
	bottom:10%;
	padding:20px 25px;
	background-color:#73840F;
	font-style:italic;
	border-top-left-radius:30px;
	border-bottom-left-radius:30px;
	color:#fff;
}
main{
	width:80%;
	margin:0px auto;
}
main #naslov{
	padding:2%;
}
main #naslov h1{
	width:30%;
	padding:2%;
	text-align:center;
	background-color:#606941;
	border-radius:20px;
}
main #sort{
	display:flex;
	justify-content:flex-end;
	margin-right:2%;
	margin-bottom:2%;
}
main #sort select{
	border:3px solid #606941;
	font-size:15px;
}
main #sort select:focus{
	outline:0;
}
main .wrapper{
	width:100%;
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	justify-content:space-around;
}
main .wrapper .content{
	width:30%;
	padding:5px;
	border:1px solid gray;
	margin-bottom:4%;
}
main .wrapper .content:hover{
	box-shadow:0 0 3px #000;
}
main .wrapper .content .contentItems{
	width:100%;
	text-align:center;
}
main .wrapper .content .contentItems .hoteliImg{
	width:100%;
}
main .wrapper .content .contentItems .hoteliImg img{
	width:100%;
}
main .wrapper .content .contentItems .hoteliImg img:hover{
	cursor:pointer;
}
main .wrapper .content .contentItems .hoteliImg img .caption{
	font-size:20px;
}
main .wrapper .content .zvezdiceicena{
	display:flex;
	justify-content:space-between;
	padding:5px;
}
main .wrapper .content .zvezdiceicena .zvezdice{
	font-size:20px;
}
main .wrapper .content .zvezdiceicena .cena{
	font-size:20px;
}
main .wrapper .content .zvezdiceicena .cena .euro{
	font-size:25px;
	font-weight:700;
	color:red;
}
main .wrapper .content .rezervisi{
	display:flex;
	justify-content:center;
	margin-right:2%;
	margin-bottom:2%;
}
main .wrapper .content .rezervisi button[type=button]{
	padding:5px 7px;
	font-size:15px;
	font-weight:650;
	background-color:#606941;
	border:none;
	border-radius:5px;
	color:#000;
}
main .wrapper .content .rezervisi button[type=button]:hover{
	color:#000;
	background-color:#fff;
	cursor:pointer;
}
main .wrapper .content .rezervisi button[type=button]:focus{
	outline:0;
}
main #load{
	text-align:center;
	margin-bottom:5%;
}
main #load button[type=button]{
	padding:12px;
	font-size:20px;
	font-weight:650;
	background-color:#fff;
	border:1px solid #000;
}
main #load button[type=button]:hover{
	background-color:#606941;
	color:#000;
	cursor:pointer;
}
#wrapper2{
	width:60%;
	margin:0px auto;
}
#wrapper2 #bookHeader{
	text-align:center;
	border-bottom:3px solid black;
}
#wrapper2 #bookHeader h3{
	font-size:30px;
	padding-bottom:1%;
}
#wrapper2 #bookHeader p{
	font-style:italic;
	padding-bottom:1%;
}
#wrapper2{
	width:100%;
}
#wrapper2 #formwrapper{
	width:80%;
	margin:0px auto;
}
#wrapper2 #formwrapper h2{
	text-align:center;
	margin:2%;
}
#wrapper2 #formwrapper .forma{
	width:50%;
	margin:0px auto;
	text-align:left;
}
#wrapper2 #formwrapper .forma .input{
	width:100%;
	margin:2%;
	padding:3%;
	font-size:17px;
	border:none;
	border-bottom:3px solid #000;
}
#wrapper2 #formwrapper .forma .input:focus{
	outline:0;
	border-bottom:3px solid #606941;
}
#wrapper2 #formwrapper .forma .formGroup{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
	padding:1% 1%;
}
#wrapper2 #formwrapper .forma .formGroup label{
	width:25%;
	font-size:17px;
}
#wrapper2 #formwrapper .forma .formGroup .same{
	width:35%;
	font-size:14px;
	border:1px solid #000;
}
#wrapper2 #formwrapper .forma input{
	display:block;
	font-size:15px;
}
#wrapper2 #formwrapper .forma textarea{
	width:55%;
	height:150px;
	font-size:15px;
	padding:5px;
	margin-top:1%;
	border:1px solid #000;
}
#wrapper2 #formwrapper .forma #buttons{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	margin-top:5%;
	margin-bottom:10%;
}
#wrapper2 #formwrapper .forma #buttons input{
	padding:10px 13px;
	font-size:16px;
	border:none;
}
#wrapper2 #formwrapper .forma #buttons input:hover{
	background-color:#242424;
	color:#fff;
}
#futer{
	width:100%;
	height:200px;
	background-color:#606941;
	padding:2% 2%;
}
#futer #futerSection{
	width:80%;
	margin:0px auto;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
#futer #futerSection .futerInfo{
	padding:20px 40px;
	width:33%;
	text-align:center;
}
#futer #futerSection .futerInfo h4{
	font-size:20px;
	margin-bottom:5%;
}
#futer #futerSection .futerInfo ul li a{
	color:#000;
}
#futer #futerSection .futerInfo #icons{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
#futer #futerSection .futerInfo #icons .fa{
	width:50px;
	height:50px;
	padding:14px;
	text-align:center;
	border-radius:50%;
	border:1px solid #000;
	font-size:20px;
}
.fa-facebook-f{
	color:#fff;
	background-color:#4267B2;
}
.fa-facebook-f:hover{
	color:#4267B2;
	background-color:#fff;
}
.fa-twitter{
	color:#fff;
	background-color:#1DA1F2;
}
.fa-twitter:hover{
	color:#1DA1F2;
	background-color:#fff;
}
.fa-instagram{
	color:#fff;
	background-color:#E1306C;
}
.fa-instagram:hover{
	color:#E1306C;
	background-color:#fff;
}
.futerInfo form input[type=text]{
	padding:10px 12px;
	font-size:16px;
	float:left;
}
.futerInfo form button[type=submit]{
	font-size:16px;
	padding:10px;
	margin-right:5px;
	float:left;
}
#copyright{
	text-align:center;
}	
	
